NifiFlow_OpenSky.json
{"flowContents":{"identifier":"0a912826-d468-3e88-913f-23ce769238e1","instanceIdentifier":"f671a64e-0194-1000-c86e-245bdd9a7f69","name":"Challenge_OpenSky","comments":"","position":{"x":-464.0,"y":-904.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f671af7f-0194-1000-80b5-088575979a86","instanceIdentifier":"0687b51c-5275-3d4c-fc44-0cd4c17e28c6","name":"Ingest_from_OpenSkyAPI","comments":"","position":{"x":-184.0,"y":-800.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"30 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://opensky-network.org/api/flights/all?begin=1608804000&end=1608807600","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"cc4de46c-cd11-3889-900d-3f24ffa709a7","instanceIdentifier":"2889ef6c-0195-1000-b73d-5a13b19d4121","name":"Failure","comments":"","position":{"x":552.0,"y":720.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"2f6891d9-4b98-32f6-8469-da427e18b718","instanceIdentifier":"1e22cc05-0195-1000-cfba-beb41fdd97d0","name":"Replace_estDepartureAirport","comments":"","position":{"x":-176.0,"y":240.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/estDepartureAirport","record-writer":"f118f409-9ffd-30c9-853c-59b15d412737","record-reader":"08ddfad4-9012-3c49-a91d-cf49fb351ad2","lookup-service":"7c10a3a0-2b2c-30e0-980e-ac6a470cafd2","record-update-strategy":"use-property","key":"/estDepartureAirport"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"288a1d8b-0195-1000-4399-e9289bc8441e","instanceIdentifier":"15ff4013-49fa-3527-7760-4962378dd1d9","name":"Failure","comments":"","position":{"x":576.0,"y":1240.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"8877320c-7749-34cb-b3bc-8da08acc4dcf","instanceIdentifier":"fc9d7b3e-0194-1000-8d2b-f22bbe57202b","name":"Convert_Date","comments":"","position":{"x":-184.0,"y":0.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"/lastSeen":"${field.value:multiply(1000):formatInstant(\"yyyy/MM/dd HH:mm:ss\", \"GMT+3\")}","/firstSeen":"${field.value:multiply(1000):formatInstant(\"yyyy/MM/dd HH:mm:ss\", \"GMT+3\")}","Record Writer":"f118f409-9ffd-30c9-853c-59b15d412737","Record Reader":"08ddfad4-9012-3c49-a91d-cf49fb351ad2","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/lastSeen":{"name":"/lastSeen","displayName":"/lastSeen","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/firstSeen":{"name":"/firstSeen","displayName":"/firstSeen","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"f671af81-0194-1000-3fba-20581d40b286","instanceIdentifier":"5e586a99-83b4-3f05-9926-183ec79729e6","name":"Convert_AVRO_to_CSV","comments":"","position":{"x":-176.0,"y":728.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"89fe69b6-5e80-3b93-bbc2-688378efc684","Record Reader":"08ddfad4-9012-3c49-a91d-cf49fb351ad2"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"4bace620-5e15-39f3-9d4a-84077f686c25","instanceIdentifier":"2887dedb-0195-1000-4ffa-4ff8e0d50174","name":"Failure","comments":"","position":{"x":520.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"62504d59-3e21-31ac-a45e-df4ea1e482da","instanceIdentifier":"2886b6c4-0195-1000-4034-3c529fd5e08b","name":"Original","comments":"","position":{"x":520.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"a16bdd90-1260-3e1b-b3d5-7c78691f07fc","instanceIdentifier":"28841976-0195-1000-0038-4b7bdb8f5c7d","name":"Failure","comments":"","position":{"x":512.0,"y":-544.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"d5a92a22-7543-31b4-ad44-0ee69fe68502","instanceIdentifier":"37c4227e-0195-1000-c8e5-cf4f61befdee","name":"Update_Attribute_.CSV","comments":"","position":{"x":-176.0,"y":984.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"34d503c9-6cf5-3210-af42-7ca8daa751c5","instanceIdentifier":"285deffc-0195-1000-e547-6bec27c3d5d0","name":"Replace_estArrivalAirport","comments":"","position":{"x":-176.0,"y":456.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","Root Record Path":"/","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/estArrivalAirport","record-writer":"f118f409-9ffd-30c9-853c-59b15d412737","record-reader":"08ddfad4-9012-3c49-a91d-cf49fb351ad2","lookup-service":"115a7e77-71cd-3ac1-9fdc-bfaa21e1630b","record-update-strategy":"use-property","key":"/estArrivalAirport"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"510af51e-4c67-312a-b4e6-3c7024628f5f","instanceIdentifier":"288619bd-0195-1000-046b-8e7affb0a648","name":"Failure","comments":"","position":{"x":520.0,"y":-368.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"354a4def-f4c3-326c-adf1-d9ca2e1e7793","instanceIdentifier":"faf37fd3-0194-1000-2101-5b8d924d23d7","name":"Cleanse_Not_Null","comments":"","position":{"x":-184.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"dbf-default-precision":"10","Filter":"SELECT * FROM FLOWFILE\nWHERE icao24 IS NOT NULL\n  AND firstSeen IS NOT NULL\n  AND estDepartureAirport IS NOT NULL\n  AND lastSeen IS NOT NULL\n  AND estArrivalAirport IS NOT NULL\n  AND callsign IS NOT NULL\n  AND estDepartureAirportHorizDistance IS NOT NULL\n  AND estDepartureAirportVertDistance IS NOT NULL\n  AND estArrivalAirportHorizDistance IS NOT NULL\n  AND estArrivalAirportVertDistance IS NOT NULL\n  AND departureAirportCandidatesCount IS NOT NULL\n  AND arrivalAirportCandidatesCount IS NOT NULL","record-writer":"f118f409-9ffd-30c9-853c-59b15d412737","record-reader":"08ddfad4-9012-3c49-a91d-cf49fb351ad2","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Filter":{"name":"Filter","displayName":"Filter","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"1ab7d4dc-d017-3d4c-b524-04cb2b9c0cb7","instanceIdentifier":"28885b9f-0195-1000-8601-04f0457fb04b","name":"Failure","comments":"","position":{"x":528.0,"y":240.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"f671af82-0194-1000-5f0f-6a2bc9423829","instanceIdentifier":"7141878b-ff75-3bb9-6f1c-4a712250a6f3","name":"Convert_JSON_to_AVRO","comments":"","position":{"x":-184.0,"y":-544.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"f118f409-9ffd-30c9-853c-59b15d412737","Record Reader":"44e810a4-6e1c-3100-9018-6b6410246e0a"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"3bbbec4c-c63a-3a33-bcc6-60f26e5f98f8","instanceIdentifier":"2889840d-0195-1000-0f62-2a8304f3f805","name":"Failure","comments":"","position":{"x":536.0,"y":456.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"74453557-2a9d-3465-8d4d-07e36a5223c1","instanceIdentifier":"37c4d4d8-0195-1000-09e8-fc8dc2cb5d0a","name":"Export_CSV","comments":"","position":{"x":-168.0,"y":1240.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/pedrotoledano/Desktop/MIOTI/Big Data/Challenges/NIFI","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d51150d4-3ae1-3dbb-9cec-783d971c2523","instanceIdentifier":"2889ba81-0195-1000-062d-c81ac30fc5b7","name":"","source":{"id":"34d503c9-6cf5-3210-af42-7ca8daa751c5","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Replace_estArrivalAirport","comments":"","instanceIdentifier":"285deffc-0195-1000-e547-6bec27c3d5d0"},"destination":{"id":"3bbbec4c-c63a-3a33-bcc6-60f26e5f98f8","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Failure","comments":"","instanceIdentifier":"2889840d-0195-1000-0f62-2a8304f3f805"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"48478880-6e08-3682-ac9d-fedf36c41ad3","instanceIdentifier":"285e0a06-0195-1000-9465-1ad598aa1110","name":"","source":{"id":"2f6891d9-4b98-32f6-8469-da427e18b718","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Replace_estDepartureAirport","comments":"","instanceIdentifier":"1e22cc05-0195-1000-cfba-beb41fdd97d0"},"destination":{"id":"34d503c9-6cf5-3210-af42-7ca8daa751c5","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Replace_estArrivalAirport","comments":"","instanceIdentifier":"285deffc-0195-1000-e547-6bec27c3d5d0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"9e867c8f-325c-3e49-877f-3662b479a17d","instanceIdentifier":"faf60119-0194-1000-ca2a-e2535f7789ae","name":"","source":{"id":"f671af82-0194-1000-5f0f-6a2bc9423829","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_JSON_to_AVRO","comments":"","instanceIdentifier":"7141878b-ff75-3bb9-6f1c-4a712250a6f3"},"destination":{"id":"354a4def-f4c3-326c-adf1-d9ca2e1e7793","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Cleanse_Not_Null","comments":"","instanceIdentifier":"faf37fd3-0194-1000-2101-5b8d924d23d7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"beab1704-3912-308f-822f-28726c38765f","instanceIdentifier":"2887ff8f-0195-1000-c022-2fe0bdfdc21c","name":"","source":{"id":"8877320c-7749-34cb-b3bc-8da08acc4dcf","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_Date","comments":"","instanceIdentifier":"fc9d7b3e-0194-1000-8d2b-f22bbe57202b"},"destination":{"id":"4bace620-5e15-39f3-9d4a-84077f686c25","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Failure","comments":"","instanceIdentifier":"2887dedb-0195-1000-4ffa-4ff8e0d50174"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"5b838ff3-20e9-3fd4-9710-0f6b55b86ea6","instanceIdentifier":"37c4ec54-0195-1000-b401-98cc235d1629","name":"","source":{"id":"d5a92a22-7543-31b4-ad44-0ee69fe68502","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Update_Attribute_.CSV","comments":"","instanceIdentifier":"37c4227e-0195-1000-c8e5-cf4f61befdee"},"destination":{"id":"74453557-2a9d-3465-8d4d-07e36a5223c1","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Export_CSV","comments":"","instanceIdentifier":"37c4d4d8-0195-1000-09e8-fc8dc2cb5d0a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"f671af87-0194-1000-2652-8c0a61fe0e17","instanceIdentifier":"21252736-c72c-3e86-b3b8-20a404c23309","name":"","source":{"id":"f671af7f-0194-1000-80b5-088575979a86","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Ingest_from_OpenSkyAPI","comments":"","instanceIdentifier":"0687b51c-5275-3d4c-fc44-0cd4c17e28c6"},"destination":{"id":"f671af82-0194-1000-5f0f-6a2bc9423829","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_JSON_to_AVRO","comments":"","instanceIdentifier":"7141878b-ff75-3bb9-6f1c-4a712250a6f3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"0a56dc1d-0b20-3628-98c6-c9ef277e546f","instanceIdentifier":"1e276495-0195-1000-f69c-39698ac93d08","name":"","source":{"id":"8877320c-7749-34cb-b3bc-8da08acc4dcf","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_Date","comments":"","instanceIdentifier":"fc9d7b3e-0194-1000-8d2b-f22bbe57202b"},"destination":{"id":"2f6891d9-4b98-32f6-8469-da427e18b718","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Replace_estDepartureAirport","comments":"","instanceIdentifier":"1e22cc05-0195-1000-cfba-beb41fdd97d0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"969c8601-f4fe-3659-bcda-94935cb93d9e","instanceIdentifier":"287e8bbd-0195-1000-7598-44fe82a0f2a2","name":"","source":{"id":"354a4def-f4c3-326c-adf1-d9ca2e1e7793","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Cleanse_Not_Null","comments":"","instanceIdentifier":"faf37fd3-0194-1000-2101-5b8d924d23d7"},"destination":{"id":"8877320c-7749-34cb-b3bc-8da08acc4dcf","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_Date","comments":"","instanceIdentifier":"fc9d7b3e-0194-1000-8d2b-f22bbe57202b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Filter"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"e9797be9-f814-3936-a222-8c2a2eece234","instanceIdentifier":"37c49f84-0195-1000-6f1a-7433f65ff027","name":"","source":{"id":"f671af81-0194-1000-3fba-20581d40b286","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_AVRO_to_CSV","comments":"","instanceIdentifier":"5e586a99-83b4-3f05-9926-183ec79729e6"},"destination":{"id":"d5a92a22-7543-31b4-ad44-0ee69fe68502","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Update_Attribute_.CSV","comments":"","instanceIdentifier":"37c4227e-0195-1000-c8e5-cf4f61befdee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"668e6918-b4c2-370c-bb9a-d037babe3a3d","instanceIdentifier":"37c7b229-0195-1000-d805-0aaebdb85318","name":"","source":{"id":"74453557-2a9d-3465-8d4d-07e36a5223c1","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Export_CSV","comments":"","instanceIdentifier":"37c4d4d8-0195-1000-09e8-fc8dc2cb5d0a"},"destination":{"id":"288a1d8b-0195-1000-4399-e9289bc8441e","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Failure","comments":"","instanceIdentifier":"15ff4013-49fa-3527-7760-4962378dd1d9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"67c2177f-f697-397e-b7c2-9ef2e4c9f690","instanceIdentifier":"28887b57-0195-1000-ed3b-8e51a8079979","name":"","source":{"id":"2f6891d9-4b98-32f6-8469-da427e18b718","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Replace_estDepartureAirport","comments":"","instanceIdentifier":"1e22cc05-0195-1000-cfba-beb41fdd97d0"},"destination":{"id":"1ab7d4dc-d017-3d4c-b524-04cb2b9c0cb7","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Failure","comments":"","instanceIdentifier":"28885b9f-0195-1000-8601-04f0457fb04b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"04e321f6-7fb3-3b56-97bf-dd7f184de3d4","instanceIdentifier":"2884342c-0195-1000-e8e8-974fa0dda454","name":"","source":{"id":"f671af82-0194-1000-5f0f-6a2bc9423829","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_JSON_to_AVRO","comments":"","instanceIdentifier":"7141878b-ff75-3bb9-6f1c-4a712250a6f3"},"destination":{"id":"a16bdd90-1260-3e1b-b3d5-7c78691f07fc","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Failure","comments":"","instanceIdentifier":"28841976-0195-1000-0038-4b7bdb8f5c7d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"a874c77d-b27d-3397-b7b2-5a957f767bd1","instanceIdentifier":"2f95bbfd-0195-1000-ef37-cfb58df33709","name":"","source":{"id":"34d503c9-6cf5-3210-af42-7ca8daa751c5","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Replace_estArrivalAirport","comments":"","instanceIdentifier":"285deffc-0195-1000-e547-6bec27c3d5d0"},"destination":{"id":"f671af81-0194-1000-3fba-20581d40b286","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_AVRO_to_CSV","comments":"","instanceIdentifier":"5e586a99-83b4-3f05-9926-183ec79729e6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"000b0550-e3c5-3a8e-82e0-3566cb196d92","instanceIdentifier":"28864c3f-0195-1000-f035-dd34dc2cb903","name":"","source":{"id":"354a4def-f4c3-326c-adf1-d9ca2e1e7793","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Cleanse_Not_Null","comments":"","instanceIdentifier":"faf37fd3-0194-1000-2101-5b8d924d23d7"},"destination":{"id":"510af51e-4c67-312a-b4e6-3c7024628f5f","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Failure","comments":"","instanceIdentifier":"288619bd-0195-1000-046b-8e7affb0a648"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"cd2ff615-9012-369e-a36f-bb08824175f9","instanceIdentifier":"288a45cc-0195-1000-7c31-b69d6e2f502f","name":"","source":{"id":"f671af81-0194-1000-3fba-20581d40b286","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Convert_AVRO_to_CSV","comments":"","instanceIdentifier":"5e586a99-83b4-3f05-9926-183ec79729e6"},"destination":{"id":"cc4de46c-cd11-3889-900d-3f24ffa709a7","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Failure","comments":"","instanceIdentifier":"2889ef6c-0195-1000-b73d-5a13b19d4121"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":408.0,"y":784.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"361918af-da06-3ce1-b412-1305354bbb93","instanceIdentifier":"288749a0-0195-1000-5233-8a793b103d4f","name":"","source":{"id":"354a4def-f4c3-326c-adf1-d9ca2e1e7793","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Cleanse_Not_Null","comments":"","instanceIdentifier":"faf37fd3-0194-1000-2101-5b8d924d23d7"},"destination":{"id":"62504d59-3e21-31ac-a45e-df4ea1e482da","type":"PROCESSOR","groupId":"0a912826-d468-3e88-913f-23ce769238e1","name":"Original","comments":"","instanceIdentifier":"2886b6c4-0195-1000-4034-3c529fd5e08b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"08ddfad4-9012-3c49-a91d-cf49fb351ad2","instanceIdentifier":"f674a045-0194-1000-c230-2dcf05b371b8","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"89fe69b6-5e80-3b93-bbc2-688378efc684","instanceIdentifier":"f674c88b-0194-1000-1d91-85e9c5327cc1","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"115a7e77-71cd-3ac1-9fdc-bfaa21e1630b","instanceIdentifier":"2862d473-0195-1000-7117-2c8659306b2c","name":"Replace_estArrivalAirport","comments":"","type":"org.apache.nifi.lookup.SimpleCsvFileLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"Escape Character":"\\","lookup-key-column":"ICAO","csv-file":"/Users/pedrotoledano/Desktop/MIOTI/Big Data/Challenges/airports_cleaned.csv","Trim Fields":"true","lookup-value-column":"Airport name","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"f118f409-9ffd-30c9-853c-59b15d412737","instanceIdentifier":"ff4ad786-0194-1000-4bf4-49769f0c56f7","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"schema-text-property","schema-version":null,"encoder-pool-size":"32","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"nifiRecord\",\n  \"namespace\": \"org.apache.nifi\",\n  \"fields\": [\n    { \"name\": \"icao24\", \"type\": [\"string\", \"null\"] },\n    { \"name\": \"firstSeen\", \"type\": [\"null\", {\"type\": \"string\", \"logicalType\": \"timestamp-millis\"}] },\n    { \"name\": \"estDepartureAirport\", \"type\": [\"string\", \"null\"] },\n    { \"name\": \"lastSeen\", \"type\": [\"null\", {\"type\": \"string\", \"logicalType\": \"timestamp-millis\"}] },\n    { \"name\": \"estArrivalAirport\", \"type\": [\"string\", \"null\"] },\n    { \"name\": \"callsign\", \"type\": [\"string\", \"null\"] },\n    { \"name\": \"estDepartureAirportHorizDistance\", \"type\": [\"int\", \"null\"] },\n    { \"name\": \"estDepartureAirportVertDistance\", \"type\": [\"int\", \"null\"] },\n    { \"name\": \"estArrivalAirportHorizDistance\", \"type\": [\"int\", \"null\"] },\n    { \"name\": \"estArrivalAirportVertDistance\", \"type\": [\"int\", \"null\"] },\n    { \"name\": \"departureAirportCandidatesCount\", \"type\": [\"int\", \"null\"] },\n    { \"name\": \"arrivalAirportCandidatesCount\", \"type\": [\"int\", \"null\"] }\n  ]\n}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"7c10a3a0-2b2c-30e0-980e-ac6a470cafd2","instanceIdentifier":"28409a7e-0195-1000-4ea8-add3e08cdbbf","name":"Replace_estDepartureAirport","comments":"","type":"org.apache.nifi.lookup.SimpleCsvFileLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.2.0"},"properties":{"Escape Character":"\\","lookup-key-column":"ICAO","csv-file":"/Users/pedrotoledano/Desktop/MIOTI/Big Data/Challenges/airports_cleaned.csv","Trim Fields":"true","lookup-value-column":"Airport name","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"},{"identifier":"44e810a4-6e1c-3100-9018-6b6410246e0a","instanceIdentifier":"f67224e4-0194-1000-945c-ad032e47444f","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0a912826-d468-3e88-913f-23ce769238e1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}